*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background-color: #0f172a;
    display: grid;
    grid-template-columns:  repeat(6,1fr);
    grid-template-rows: repeat(10,1fr);
}

header{
    grid-area: 1/1/2/7;
    background-color: #475569;
}

aside{
grid-area: 2/1/10/2;
background-color: #cbd5e1;
color: #0f172a;
padding: 1rem;
display: flex;
flex-direction: column;
}
footer{
    grid-area:10/1/11/7 ;
    background-color: #475569;
    color: #0f172a;
    text-align: center;
    
}
main{
    grid-area: 2/2/10/7;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

h2,h1{
    color: #e2e8f0;
    text-align: center;
}
.tasks{
    display: grid;
    gap: 4px;
    padding: 4px;
    width: 100%;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    
}
.add-task{
padding: 1rem;
  position: absolute;
  top: 30%;
  right: 30%;
  max-width: 20rem;
  min-height: 7rem;
  border-radius: 5%;
  background: #475569;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  visibility: hidden;
 
}
.add-task button{
    width: 10rem;
    margin: 0 auto;
}
.add-project{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    right: 30%;
    min-width: 20rem;
    min-height: 7rem;
    border-radius: 5%;
    background: #475569;
    visibility: hidden;
}

.tasks h5{
    color: #e2e8f0;
}

.create-project{
    margin-top: auto;
}

.task{
    display: flex;
    flex-direction: column;
    background-color: #475569;
    padding: 0.5rem;
    gap: 0.5rem;
    
}
.task input,h5{
   margin: 0 auto;
   font-size: 0.9rem;
}

.show-task{
    position: absolute;
    background-color: #475569;
    width: 81%;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.exit-button{
    margin-top: auto;
}

.control-panel{
    display: flex;
    justify-content: space-between;
    color:#e2e8f0 ;
}


button{
    border-radius: 20px;
    padding: 0.5rem;
    background-color:#475569;
    color: #e2e8f0;
}